@page
@model WebPortal.Areas.Students.Pages.AccountModel



@{
    ViewBag.AccountActive = "active";
}
<h3>Account Details</h3>

<partial name="~/Pages/Shared/Account.cshtml" model="Model.UserModel" />

